*{
    margin: 0;
    padding: 0;
    margin: 0;
}

#Container{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#dado{
    position: relative;
    top: 25%;
    left: 35%;
    border: 2px solid black;
    width: 500px;
    height: 500px;
}

#dado div{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    position: absolute;
}

#puntoUno{
    position: relative;
    top: 20%;
    left: 20%;
    background-color: black;
}

#puntoDos{
    position: relative;
    top: 20%;
    left: 70%;
    background-color: black;
}

#puntoTres{
    position: relative;
    top: 45%;
    left: 45%;
    background-color: black;
}

#puntoCuatro{
    position: relative;
    top: 70%;
    left: 20%;
    background-color: black;
}

#puntoCinco{
    position: relative;
    top: 70%;
    left: 70%;
    background-color: black;
}