*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
:root{
    --my-background:#100F0F;
    --my-Primario: #F1F1F1;
    --my-Secundario: #0F3D3E;
    --my-Terciario: #E2DCC8;
}
/* MENU DE LA PAGINA */
#menu{
    background-color: var(--my-background);
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#menu .TituloNav{
    width: 35%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
}
#menu h2{
    font-size: 3.5rem;
    padding-top: 20px;
    margin: 30px 10px;
    color: var(--my-Primario);
    font-family: 'Bebas Neue', cursive; 
}
#menu .navbar{
    display: flex;
    list-style: none;
    margin: 10px 0;
}
#menu .navbar a{
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1rem;
    color: var(--my-Primario);
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;
}
#menu .navbar a:hover{
    font-size: 1.2rem;
    color: darkgray;
    transition: all 0.5s;
    padding: 20px 15px;
}    
/* HERO DE LA PAGINA */
#hero{
    width: 100%;
    height: 102vh;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
    ),
    url("./RESEUCE/hero.avif");
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
#hero h1{
    font-size: 5rem;
    color: var(--my-Primario);
    font-family: 'Bebas Neue', cursive;

}
/* QUIENES SOMOS */
#Quienes_Somos{
    width: 100%;
    height: 102vh;
    background-color: var(--my-Terciario);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#Quienes_Somos .texto{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
#Quienes_Somos h2{
    font-size: 3.5rem;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 40px;
}
#Quienes_Somos .texto p{
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
#Quienes_Somos .texto .Principios{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}
#Quienes_Somos .texto span{
    color: var(--my-Secundario);   
    font-size: 5rem;
}
#Quienes_Somos .imagen{
    width: 35%;
    height: 90%;
    background-image: url(./RESEUCE/Quiene-somos.avif);
    background-position: center;
    background-size: cover;
}
/* TRABAJOS FINALIZADOS */
#TrabajosFinal{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--my-Secundario);
    
}
.iconoTrabajos{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid var(--my-Primario);
    margin-bottom: 20px;
    background-image: url(./RESEUCE/plano1.png);
    background-position: center;
    background-size: cover;
}
#TrabajosFinal .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--my-Primario);
}
#TrabajosFinal .texto h3{
    color: var(--my-Primario);
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.btn-Trabajos{
    color: var(--my-Primario);
    background: var(--my-background);
    transition: background 0.3s ease-in-out;
}
.btn-Trabajos:hover{
    color: var(--my-Secundario);
    background: #c4c3c3;
    transition: background 0.3s ease-in-out;
}


/* SERVICIO */
#Servicios{
    width: 100%;
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e2e2e2;
}
.serviciosLeft{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.serviciosLeft h2{
    font-family: 'Bebas Neue', cursive; 
    font-size: 3rem;
    color: var(--my-Secundario);
    margin-bottom: 20px;
}
h3{
    color: var(--my-Secundario);
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}
.contruccion{
    margin-bottom: 20px;
    display:flex ;
}
.contruccion .texto{
    width: 70%;
}
.contruccion .icono1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px;
    display: block;
    border: 1px solid var(--my-Secundario);
    background-image: url(./RESEUCE/diseno-de-casa.png);
    background-position: center;
    background-size: cover;
}
.contruccion p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.diseno{
    margin-bottom: 20px;
    display:flex ;
}
.diseno .texto{
    width: 70%;
}
.diseno .icono2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px;
    display: block;
    border: 1px solid var(--my-Secundario);
    background-image: url(./RESEUCE/herramienta-de-diseno.png);
    background-position: center;
    background-size: cover;
}
.diseno p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.planos{
    margin-bottom: 20px;
    display:flex ;
}
.planos .texto{
    width: 70%;
}
.planos .icono3{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px;
    display: block;
    border: 1px solid var(--my-Secundario);
    background-image: url(./RESEUCE/plano.png);
    background-position: center;
    background-size: cover;
}
.planos p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.serviciosRight{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.serviciosRight h2{
    font-family: 'Bebas Neue', cursive; 
    font-size: 3rem;
    color: var(--my-Secundario);
    margin-top: 40px;   
    margin-bottom: 30px; 
}

.btn1{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}
.serviciosRight .btn1{
    padding: 1rem 1.5rem;
}
.btn-Cotizacion{
    color: var(--my-Primario);
    background: var(--my-Secundario);
    transition: background 0.3s ease-in-out;
    margin: 30px 0;
}
.btn-Cotizacion:hover{
    color: var(--my-Secundario);
    background: #c4c3c3;
    transition: background 0.3s ease-in-out;
}
input{
    border-radius: 10px;
}
/* FOOTER*/
footer{
    width: 100%;
    height: 200px;
    background-color: var(--my-background);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .texto{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--my-Primario);
}footer .Link{
    display: flex;
    justify-content: space-evenly;
}
footer .ico{
    width: 50px;
    height: 50px;
    border: 1px solid var(--my-Primario);
    border-radius: 50%;
}
footer p{
    font-size: 0.7rem;
}
.ico1{
    background-image: url(./RESEUCE/facebook.png);
    background-position: center;
    background-size: cover;
}
.ico2{
    background-image: url(./RESEUCE/instagram.png);
    background-position: center;
    background-size: cover;
}
footer .logo{
    width: 30%;
    height: 70%;
    background-image: url(./RESEUCE/1111.PNG);
    background-position: center;
    background-size: cover;
}      

/* COTIZACION */
#Cotizacion {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--my-background);
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #Cotizacion h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
    color: var(--my-Primario);
  }
  
  #Cotizacion .formulario {
    width: 70vw;
    display: flex;
    flex-direction: column;
  }
  
  #Cotizacion .formulario2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #Cotizacion .formulario3{
    width: 70vw;
    display: flex;
    flex-direction: column;
  }
  
  #Cotizacion .formulario input {
    width: 70vw;
    height: 5vw;
  }
  
  #Cotizacion .formulario2 input{
    width: 33vw;
    height: 5vw;
  }
  
  
  #Cotizacion .formulario3 textarea{
    width: 70vw;
    height: 20vw;
  }
  
  
  #Cotizacion input{
    background-color: transparent;
    border-bottom: 2px solid white;
    width: 41.4vw;
    height: 5vw;
    color: white;
    margin-bottom: 2vw ;
  }
  
  #Cotizacion input:hover{
    border: 2px solid white;
    transition: all 0,5s;
  }
  
  #Cotizacion textarea{
    background-color: transparent;
    width: 49.5vw;
    height: 20vw;
    border-bottom: 2px solid white;
    font-size: 4.3vw;
    color: white;
  }
  
  #Cotizacion textarea:hover{
    border: 2px solid white;
  }
  
  #Cotizacion ::placeholder{
    font-size: 1.3vw;
    color: white;
  }
  
  #Cotizacion textarea::placeholder{
    font-size: 1.3vw;
    color: white;
  }
  #Cotizacion .btn-Cotizacion{
    color: #F1F1F1;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
    background-color: #252525;
  }
  #Cotizacion .btn-Cotizacion:hover{
    background-color: var(--my-Primario);
    color: var(--my-background);
  }
  



  @media  (max-width: 700px){
    #menu{
        width: 100%;
    }
    #hero{
        width: 100%;
    }
    #TrabajosFinal{
        width: 100%;
    }
    #Servicios{
        width: 100%;
    }
    #footer{
        width: 100%;
    }
    #menu .TituloNav h2{
        font-size: 1.6rem;
    }
    #menu .TituloNav {
        padding-left: 0;
    }
    #menu .navbar{
        padding: 0;
    }
    #menu .navbar a{
        font-size: 0.8rem;
    }
    .navbar{
        flex-direction: column;
    }
    #hero h1{
        font-size: 2.5rem;
    }
    .imagen{
        display: none;
    }
    #Quienes_Somos{
        justify-content: center;
    }
    #Quienes_Somos .texto{
        width: 90%;
    }
    #Quienes_Somos .texto h2{
        font-size: 2.2em;
    }
    #Quienes_Somos .texto span{
        font-size: 1.8em;
    }
    #Quienes_Somos .texto p{
        font-size: 0.9em;
    }
    #Quienes_Somos .texto .Principios{
        font-size: 1.3em;
    }
    #TrabajosFinal .texto h3{
        font-size: 1.3em;
    }
    #TrabajosFinal .texto p{
        font-size: 0.8em;
    }
    #Servicios{
        flex-direction: column;
        height: auto;
    }
    #Servicios .serviciosLeft{
        width: 90%;
    }
    #Servicios .contruccion, .diseno, .planos{
        flex-direction: column;
        align-items: center;
    }
    #Servicios .serviciosRight{
        width: 80%;
    }
    #Servicios h2{
        font-size: 1.5em;
        margin-top: 30px;
    }
    .serviciosLeft .texto h3{
        font-size: 1.3em;
    }
    .serviciosLeft .texto p{
        font-size: 0.8em;
    }
    footer{
        flex-direction: column;
        height: auto;
    }
  }