*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tabla{
  border-collapse: collapse;  
}
 
td{
    border-style: dotted;
}
.Primaria{
    border: 3px solid black;
    background-color: cornflowerblue;
}
tr:hover{
    background-color: chartreuse;
}
h1{
    margin-bottom: 40px;
}
#Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}