*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
header{
    background-color: black;
    width: 100%;
    height: 13vh;
    position: relative;
}
header h1{
    color: yellow;
    font-size: 50px;
    margin-top: 10px;
    position: absolute;
}
/* main */
#Container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#Container .Containerleft{
    width: 20%;
    background-color: darkgrey;
    display: flex;
}
.Containerleft nav{
    position: relative;
    width: 300px;
}
.Containerleft nav ul{
    position: absolute;
    left: 40px;
    font-size: 2.3rem;
    color: yellow;
}
.Containerleft nav ul a{
   text-decoration: none;
   color: blue;
}
.containerRight {
    width: 75%;
}
/* INICIO */

#inicio{
    width: 70%;
    position: relative;
    left: 40px;
}

.subContainer{
    width: 100%;
}

#inicio .subContainer h2{
    font-size: 70px;
    color: blue;
    margin-bottom: 30px;
    margin-top: 30px;
}
#inicio .subContainer p{
    width: 70vw;
    font-size: 30px; 
    margin-bottom: 30px;   
}
.imgInicio{
    width: 30vw;
    height: 30vh;
    background-image: url(./resouse/photo-1624726175512-19b9baf9fbd1.avif);
    background-position: center;
    background-size: cover;
}
/* ENTRADAS */
#Entradas{
    width: 70%;
    position: relative;
    left: 40px;
}

#Entradas .subContainer h2{
    font-size: 70px;
    color: blue;
    margin-bottom: 30px;
    margin-top: 30px;
}
#Entradas .subContainer p{
    width: 70vw;
    font-size: 30px; 
    margin-bottom: 30px;   
}
.imgEntradas{
    width: 30vw;
    height: 30vh;
    background-image: url(./resouse/photo-1624726175512-19b9baf9fbd1.avif);
    background-position: center;
    background-size: cover;
}
/* PLATOS FUERTES */
#Platos-fuertes{
    width: 70%;
    position: relative;
    left: 40px;
}

#Platos-fuertes .subContainer h2{
    font-size: 70px;
    color: blue;
    margin-bottom: 30px;
    margin-top: 30px;
}
#Platos-fuertes .subContainer p{
    width: 70vw;
    font-size: 30px; 
    margin-bottom: 30px;   
}
.imgPlatos{
    width: 30vw;
    height: 30vh;
    background-image: url(./resouse/photo-1624726175512-19b9baf9fbd1.avif);
    background-position: center;
    background-size: cover;
}
/* ENSALADAS */
#Ensaladas{
    width: 70%;
    position: relative;
    left: 40px;
}

#Ensaladas .subContainer h2{
    font-size: 70px;
    color: blue;
    margin-bottom: 30px;
    margin-top: 30px;
}
#Ensaladas .subContainer p{
    width: 70vw;
    font-size: 30px; 
    margin-bottom: 30px;   
}
.imgEnsaladas{
    width: 30vw;
    height: 30vh;
    background-image: url(./resouse/photo-1624726175512-19b9baf9fbd1.avif);
    background-position: center;
    background-size: cover;
}
/* POSTRES */
#Postres{
    width: 70%;
    position: relative;
    left: 40px;
}

#Postres .subContainer h2{
    font-size: 70px;
    color: blue;
    margin-bottom: 30px;
    margin-top: 30px;
}
#Postres .subContainer p{
    width: 70vw;
    font-size: 30px; 
    margin-bottom: 30px;   
}
.imgPostres{
    width: 30vw;
    height: 30vh;
    background-image: url(./resouse/photo-1624726175512-19b9baf9fbd1.avif);
    background-position: center;
    background-size: cover;
}
/* BEBIDAS */
#Bebidas{
    width: 70%;
    position: relative;
    left: 40px;
}

#Bebidas .subContainer h2{
    font-size: 70px;
    color: blue;
    margin-bottom: 30px;
    margin-top: 30px;
}
#Bebidas .subContainer p{
    width: 70vw;
    font-size: 30px; 
    margin-bottom: 30px;   
}
.imgBebidas{
    width: 30vw;
    height: 30vh;
    background-image: url(./resouse/photo-1624726175512-19b9baf9fbd1.avif);
    background-position: center;
    background-size: cover;
}

/* FOOTER  */
footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 205, 205)  ;

}
footer p{
    margin-top: 30px;
}