*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.index{
    background-color:#2A2550;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: #251D3A;
    color: white;
}
.navleft *{
    margin: 10px;
    text-decoration: none;
    font-size: 1.1em;
    color:white;
}
.logo{
    font-size: 2em;
    margin: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* cuadrado */
.calculadora{
    width: 100%;
    height: 100vh; 
    background-color: #2A2550;
    color: white;
}
.divcalculadora{
    width: 25%;
    height: 60%;
    border-radius: 15%;
    background-color: #251D3A;
    flex-direction: column;
    box-shadow: 10px 10px 5px black;
}
.divcuadrado *{
    margin: 10px;
}
.divCirculo *{
    margin: 10px;
    font-size: 1.02em;
}
.divtriangulo *{
    margin: 10px;
    font-size: 1.02em;
}
.titulo{
    font-size: 1.7em;
}
