*{
    box-sizing: border-box;
}
#titulo, #subtitulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: purple;
}
#subtitulo{
    text-decoration: underline;
}
.contenido{
    font-family: 'Fuzzy Bubbles', cursive;
    color: darkslategray;
    font-size: 12px;
}
span{
    background-color: yellowgreen;
    color: green;
}
.cursiva{
    font-style: italic;
}
table{
    border: collapse;
    width: 150px;
    height: 150px;
    margin-left: 130px;
    text-align: center;
}
table td{
    border: 1px solid black;
}
/*Reglas de posicion vertical*/
.top{
    vertical-align: top;
}
.middle{
    vertical-align: middle;
}
.bottom{
    vertical-align: bottom;
}
/*Regla de decoracion de texto*/
#overline{
    text-decoration: overline;
    text-align: right;
}

#through{
    text-decoration: line-through;
    text-align: center;
}

#underline{
    text-decoration: underline;
}
#intentado{
    text-indent: 70px;
}
#sombraUno{
    text-shadow: 2px 0px 10px red;
    letter-spacing: -3px;
}   
#sombraDos{
    text-shadow: 
    1px 0px 3px red,
    10px 5px 3px blue,
    15px 10px 3px yellow;
    letter-spacing: 15px;
}
#ancho{
    width: 100px;
    height: 50px;
    background-color: red;
    border: 1px solid;
    margin: 5px;
}
#alto{
    height: 100px;
    width: 50px;
    background-color: aqua;
    border: 1px solid;
    margin: 5px;
}

#imagen{
    background-image: url(./depositphotos_6716219-stock-photo-kitten.jpg);
    background-position: center;
    background-size: cover;
    width: 50vw;
    min-width: 200px;
    height: 500px;
    min-height: 200px;
    filter: blur(5px);
}

.contenedor div{
    width: 337px;
    height: 227px;
    padding: 30px;  
    border: 1px solid;
    margin: 27px;
}
.contenedor img{
    width: 100%;
    height: auto;
}
#cajaUno{
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 10px;
    /* overflow-x: scroll;
    overflow-y: auto; */
    overflow: auto;
}
#cajaDos{
    border-top: 10px groove red;
    border-right: 10px blue dashed;
    border-bottom: 10px chartreuse double;
    border-left: 10px purple groove;
    overflow: auto;
    text-align: center;
}   

body{
    background-image: url(./depositphotos_6716219-stock-photo-kitten.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#cajaCuatro{
    width: 337px;
    height: 227px;
    background-image: url(./depositphotos_6716219-stock-photo-kitten.jpg);
    background-size: cover;
    transform: rotate(30deg);
}

#cajaCinco{
    width: 337px;
    height: 227px;
    background-image: url(./depositphotos_6716219-stock-photo-kitten.jpg);
    background-size: cover;
    transform: rotate(-30deg);
}

.moviles{
    list-style-type: none;
    list-style-image: url();
    list-style-position: inside;
}

.contenedor{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.cuadrado{
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    background: linear-gradient(to top right, red , blue);           
}
.circulo{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    display: inline-block;
    background: radial-gradient(blue, yellow)
}
.triangulo{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-top: 100px solid transparent;
}
/* propiedades Float */
#leftFloat,#rightFloat{
    background-color: lightblue;
    padding: 5px;
    margin-top: 5px;
    height: 50px;
}

.left{
    float: left;
    padding: 7px;
}
.right{
    float: right;
    padding: 7px;
}
.right-six{
    float: left;
} 
#containerZindex{
    width: 400px;
    height: 200px;
    border: 5px red dashed;
    position: relative
}
#containerZindex .caja1{
    width: 70px;
    height: 100px;
    border: 1px solid red;
    background-color: darkred;
    color: white;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 100px;
}
#containerZindex .caja2{
    width: 70px;
    height: 100px;
    border: 1px solid blue;
    background-color: darkblue;
    color: white;
    position: absolute;
    z-index: 2;
    top:-20px;
    left:150px;
}
#containerZindex .caja3{
    width: 70px;
    height: 100px;
    border: 1px solid green;
    background-color: darkgreen;
    color: white;
    position: absolute;
    z-index: 3;
    top: 70px;
    left: 130px;
    opacity: 0.9;
}