*{
    margin: 0;
    border: 0;
    padding: 0;
    
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenedor{
    width: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#caja1{
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

.caja{
    margin: 2vw;
    padding: 2vw 4.5vw ;
    border-radius: 20px;
    border: 5px solid black;
    font-size: 22px;
}

button{
    padding: 2vw 5vw;
    border-radius: 20px;
    font-size: 20px;
    border: 5px solid black;
    margin-bottom: 50px;
    
}

#boton{
    display: flex;
    flex-direction: column;
    
}

#opcion{
    border-radius: 20px;
    border: 2px solid black ;
    width: 30vw;
    height: 5vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    font-size: 120%;
}



